 .project{
     background: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center; 
    &__card{
        background-color: white;
        padding: 50px 30px;
        border-radius: 20px;
        text-align: center;
        &_body{
            border-bottom: 1px solid #dddd;
            img{
                margin-bottom: 20px;
                max-width: 100%;
            }
            h1{
                margin-bottom: 10px;
            }
            p{
                margin-bottom: 20px;
            }
        }
        &_footer{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-top: 20px;
        }
    }
}